@font-face {
    font-family: 'Satoshi-Regular';
    src: url('/fonts/Satoshi-Regular.woff2') format('woff2'),
         url('/fonts/Satoshi-Regular.woff') format('woff'),
         url('/fonts/Satoshi-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
}

@font-face {
font-family: 'Satoshi-Italic';
src: url('/fonts/Satoshi-Italic.woff2') format('woff2'),
        url('/fonts/Satoshi-Italic.woff') format('woff'),
        url('/fonts/Satoshi-Italic.ttf') format('truetype');
        font-weight: 400;
        font-display: swap;
        font-style: italic;
}

@font-face {
    font-family: 'Satoshi-Medium';
    src: url('/fonts/Satoshi-Medium.woff2') format('woff2'),
         url('/fonts/Satoshi-Medium.woff') format('woff'),
         url('/fonts/Satoshi-Medium.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
}

@font-face {
font-family: 'Satoshi-MediumItalic';
src: url('/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
        url('/fonts/Satoshi-MediumItalic.woff') format('woff'),
        url('/fonts/Satoshi-MediumItalic.ttf') format('truetype');
        font-weight: 400;
        font-display: swap;
        font-style: italic;
}

@font-face {
font-family: 'Satoshi-Bold';
src: url('/fonts/Satoshi-Bold.woff2') format('woff2'),
        url('/fonts/Satoshi-Bold.woff') format('woff'),
        url('/fonts/Satoshi-Bold.ttf') format('truetype');
        font-weight: 700;
        font-display: swap;
        font-style: normal;
}

@font-face {
font-family: 'Satoshi-BoldItalic';
src: url('/fonts/Satoshi-BoldItalic.woff2') format('woff2'),
        url('/fonts/Satoshi-BoldItalic.woff') format('woff'),
        url('/fonts/Satoshi-BoldItalic.ttf') format('truetype');
        font-weight: 700;
        font-display: swap;
        font-style: italic;
}
  @page {
    size: letter;
    margin-left: 1.8cm;
    margin-right: 1.8cm;
    margin-top: 2cm;
    margin-bottom: 2.2cm;

    /* pied de page */
      @bottom-left {
        content: string(titre_site) " - " string(titre);
        width: 100%;
      }

      @bottom-right {
        content: counter(page);
      }
  }

@media print {
	body {
    font-family: "Satoshi-Regular", sans-serif;
		font-size: 0.875em;
	}

  p, li {
  	line-height: 1.5em;
  }

  em, i {
    font-family: "Satoshi-Italic", serif;
  }

  a, a:focus, a:hover {
    color: black;
  }
  
  img {
    max-width: 150mm;
    max-height: 150mm;
  }
  #titre_cours {
    string-set: titre_cours content(text);
  }
  #titre {
    string-set: titre content(text);
  }
	
  #titre_site {
    string-set: titre_site content(text);
  }
  
  .titre-site {
    visibility: hidden;
  }

  h1 {
    font-family: "Satoshi-Bold", serif;
    font-weight: 700;
  }
  h1.title-print {
    text-transform: uppercase;
    font-size: 1.65em;
    margin-top: 0em;
  }
  
  h2, h3, h4, h5 {
    font-family: "Satoshi-Medium", serif;
    font-weight: 500;
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  h2.subtitle {
    text-transform: uppercase;
    font-size: 2em;
    margin-top: 0em;
  }
	h2 {
		font-size: 2em;
		margin-top: 1em;
    margin-bottom: 0.5em;
	}
  h3 {
    text-transform: uppercase;
    font-size: 1.25em;
    margin-top: 1.5em;
    margin-bottom: -0.5em;
  }
  h3.subtitle {
    margin-top: 0em;
  }
  .evaluation h3 {
    margin-top: 4.5em;
    margin-bottom: 1.5em;
  }
  h4 {
    font-size: 1.25em;
    margin-top: 1.5em;
  }
  h1:first-child, h2:first-child, h3:first-child, h4:first-child {
    margin-top: 0;
  }

  .cartouche {
    h1 {
      margin-top: 0em;
      font-size: 1.75em;
    }
    h2 {
      font-size: 1.125em;
    }
  }
  .content {
    h2 {
      font-size: 1.5em;
      margin-bottom: 0.5em;
    }
    p {
      text-align: justify;
      hyphens: auto;
    }
  }
  .mention {
    margin-top: 5em;
  }
  
  .main-content {
    display: block;
  }
  
  hr {
    visibility: hidden;
    break-after: page;
  }

/* gestion des citations */
  .hugo-cite-intext {
    display: inline-block;
    vertical-align: baseline; /*compensate for lower height */
    position: relative;
    /*font-size: .85em; */ /* reduce to avoid some breaks */
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .hugo-cite-intext
    .hugo-cite-citation {
      visibility: hidden;
      background-color: #ffffff;
      color: inherit;
      border: 1px solid currentColor;
      padding: 1rem;
      position: absolute;
      width: 350px;
      max-width: 100vw;
      z-index: 1;
      bottom: 140%;
      left: 0;
      margin-left: -50px;

      z-index: 2;
      transition:
        visibility 0s .3s,
        transform .3s ease 0s,
        opacity .3s ease 0s;
      opacity: 0;
      transform: translateY(-8px);
  }
  .visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }
  .appel {
    display: none;
  }

  .hugo-cite-bibliography dd {
    margin-left: 0;
    margin-bottom: 0.5em;
  }

  .hash {
    visibility: hidden;
  }

  .break {
    page-break-after: always;
  }

  .toc {
    margin: 1.75em auto 2em auto;
  }

  .article {
    margin-top: 2em;
  }

  .blanc::after {
    margin-left: 10%;
    content:'';
    display:inline-block;
    width:90%; height:100%;
    border-bottom:2px solid #000;
  }

  .blancl::after {
    content:'';
    display:inline-block;
    width:100%; height:100%;
    border-bottom:2px solid #000;
  }

  .placeb {
    page-break-after: always;
  }

}
