@font-face {
    font-family: 'Satoshi-Regular';
    src: url('/fonts/Satoshi-Regular.woff2') format('woff2'),
         url('/fonts/Satoshi-Regular.woff') format('woff'),
         url('/fonts/Satoshi-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
}

@font-face {
font-family: 'Satoshi-Italic';
src: url('/fonts/Satoshi-Italic.woff2') format('woff2'),
        url('/fonts/Satoshi-Italic.woff') format('woff'),
        url('/fonts/Satoshi-Italic.ttf') format('truetype');
        font-weight: 400;
        font-display: swap;
        font-style: italic;
}

@font-face {
    font-family: 'Satoshi-Medium';
    src: url('/fonts/Satoshi-Medium.woff2') format('woff2'),
         url('/fonts/Satoshi-Medium.woff') format('woff'),
         url('/fonts/Satoshi-Medium.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
}

@font-face {
font-family: 'Satoshi-MediumItalic';
src: url('/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
        url('/fonts/Satoshi-MediumItalic.woff') format('woff'),
        url('/fonts/Satoshi-MediumItalic.ttf') format('truetype');
        font-weight: 400;
        font-display: swap;
        font-style: italic;
}

@font-face {
font-family: 'Satoshi-Bold';
src: url('/fonts/Satoshi-Bold.woff2') format('woff2'),
        url('/fonts/Satoshi-Bold.woff') format('woff'),
        url('/fonts/Satoshi-Bold.ttf') format('truetype');
        font-weight: 700;
        font-display: swap;
        font-style: normal;
}

@font-face {
font-family: 'Satoshi-BoldItalic';
src: url('/fonts/Satoshi-BoldItalic.woff2') format('woff2'),
        url('/fonts/Satoshi-BoldItalic.woff') format('woff'),
        url('/fonts/Satoshi-BoldItalic.ttf') format('truetype');
        font-weight: 700;
        font-display: swap;
        font-style: italic;
}

*,:after,:before {
	box-sizing:border-box;
	/*margin:0;*/
	padding:0;
}

body {
	font-size: 1.25rem;
    line-height: 1.5;
    font-family: "Satoshi-Medium", serif;
	text-rendering:optimizeSpeed;
}

h1, h2, h3, h4, h5 {
    font-family: "Satoshi-Bold", serif;;
}

h1 {
    font-size: 2em;
}

.posts hr {
	margin-top: 0.25rem;
    margin-bottom: 0;
    margin-right: .5rem;
    margin-left: .5rem;
    height: 2px;
    border: none;
    border-bottom: 1px #152229;
    flex: 1 0 1rem;
    //opacity: .25;
}


main {
	max-width: 80ch;
	padding: 2ch;
	margin: auto;
}

a, body {
	color: #152229;
}

strong {
    font-family: "Satoshi-Bold";
}

::selection, a:focus, a:hover {
	background-color: #152229;
	color: #fff;
}

.meta {
	margin: 0 0 2.5rem;
}

.suppra {
	margin: 3em 0 0 0;
	text-align: right;
}

.tags::before {
	content: "\2022";
	margin-left: 1rem;
}

code,pre {
	color: #152229;
	font-family: San Francisco Mono,Monaco,"Consolas","Lucida Console","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	font-size: 0.9em;
	border: 1px solid #152229;
}

code {
	padding: .1rem;
	border: none;
}

pre {
	padding: .5rem;
	overflow-x: auto;
}

pre code {
	border: none;
}

img {
	max-width:100%;
	border: 1px solid #152229;
}

hr {
	background: #152229;
    height: 2px;
    border: 0;
}

ul {
	list-style-type: square;
}

ul, ol {
	padding-left: 1.2rem; 
}

header li, footer li {
    display: inline;
    text-transform: uppercase;
}

header a, footer a {
    text-decoration: none;
}

header ul, footer ul {
    justify-content: space-between;
    display: flex;
}


[aria-current="page"] {
	//font-weight: bold;
	border: solid 2px;
    padding: 0.5rem;
    
}

header,section, footer {
	padding:1rem 0;
}

blockquote {
    border-left: 5px solid #152229;
    padding-left: 1rem;
}
.posts ul,header ul, footer ul {
	list-style:none;
}

.posts, header ul, footer ul {
	padding: 0;
}

.posts li {
	align-items:center;
	display:flex;
	justify-content:space-between;
    margin-bottom: .7rem;
}

.posts li a, .posts li div {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	text-decoration: none;
}

.posts li time {
	padding-left: 1rem;
	white-space: nowrap;
	font-variant-numeric: tabular-nums;
}

.hash {
	opacity: .25;
	text-decoration: none;
}


table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
table tr {
    background: white;
    border-bottom: 1px solid
}
table th, table td {
    padding: 10px 20px;
}

iframe {
	width: 100%;
	height: 500px;
}

audio {
	width: 100%;
}

.hugo-cite-intext {
  display: inline-block;
  vertical-align: baseline; /*compensate for lower height */
  position: relative;
  font-size: .85em; /* reduce to avoid some breaks */
}
.hugo-cite-intext 
  .hugo-cite-citation {
    visibility: hidden;
    background-color: #ffffff;
    color: inherit;
    border: 1px solid currentColor;
    padding: 1rem;
    position: absolute;
    width: 350px;
    max-width: 100vw;
    z-index: 1;
    bottom: 140%;
    left: 0;
    margin-left: -50px;

    z-index: 2;
    transition:
      visibility 0s .3s,
      transform .3s ease 0s,
      opacity .3s ease 0s;
    opacity: 0;
    transform: translateY(-8px);
}
.hugo-cite-intext:hover
  .hugo-cite-citation {
    visibility: visible;
    transition: visibility 0s 0s, transform .3s, opacity .3s;
    opacity: 1;
    transform: translateY(0);
}
.hugo-cite-bibliography {
    padding: 0 ;
}

/* Visually Hidden utility class */
.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.cache {
    display: none;
}

figure {
    text-align: center;
    margin: 2em auto;
}

figcaption, em {
    font-family: "Satoshi-MediumItalic";
}

.glossaire {
    border: dotted 2px;
    padding: 1rem;
    width: 75%;      
}

section.posts {
    margin: 2em auto;
}

.posts article {
    margin: 0em auto;
}

.posts section {
	align-items:center;
	display:flex;
	justify-content:space-between;
    margin-bottom: 0rem;
}

.posts section a, .posts section div {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	text-decoration: none;
}

.posts section time {
	padding-left: 1rem;
	white-space: nowrap;
	font-variant-numeric: tabular-nums;
}

.posts-title {
    text-transform: uppercase;
}

.lecture {
    margin: -0.5em auto 1.5em auto;
    display: flow;
}
