@font-face {
    font-family: 'Satoshi-Medium';
    src: url('/fonts/Satoshi-Medium.woff2') format('woff2'),
         url('/fonts/Satoshi-Medium.woff') format('woff'),
         url('/fonts/Satoshi-Medium.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-MediumItalic';
    src: url('/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
         url('/fonts/Satoshi-MediumItalic.woff') format('woff'),
         url('/fonts/Satoshi-MediumItalic.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: italic;
  }
  
  @font-face {
    font-family: 'Satoshi-Bold';
    src: url('/fonts/Satoshi-Bold.woff2') format('woff2'),
         url('/fonts/Satoshi-Bold.woff') format('woff'),
         url('/fonts/Satoshi-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }
  
  @font-face {
    font-family: 'Satoshi-BoldItalic';
    src: url('/fonts/Satoshi-BoldItalic.woff2') format('woff2'),
         url('/fonts/Satoshi-BoldItalic.woff') format('woff'),
         url('/fonts/Satoshi-BoldItalic.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: italic;
  }

  section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #ffffff; }

body {
  background: #ffffff;
  background-color: #ffffff; }

.reveal > section.fond {
  background-color: white;
}

section.fond {
  padding: 0.5em;
  background-color: white;
}

.reveal {
  font-family: "Satoshi-Medium", monospace;
  font-size: 24px;
  font-weight: normal;
  color: #152229;
  line-height: 1.5em; }

::selection {
  color: #152229;
  background: #bee4fd;
  text-shadow: none; }

::-moz-selection {
  color: #152229;
  background: #bee4fd;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #152229;
  font-family: "Satoshi-Bold", monospace;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: normal;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  text-transform: uppercase;
  font-size: 1.8em;
  margin-top: 2em;
  margin-bottom: 0.75em; }

h1.grand {
  margin: 1em 0 0 0;
  font-size: 5em;
}

.reveal h2 {
  font-size: 1.75em;
  margin-bottom: 0.5em; }

h2.title {
  font-size: 1.7em;
  text-transform: none;
  font-family: "Satoshi-BoldItalic";
  font-style: italic;
}

.reveal h3 {
  text-transform: uppercase;
  font-size: 1.5em; }

h3.title {
  text-transform: none;
  font-size: 1.4em;
}

.reveal h4 {
  font-size: 1.5em; }

.reveal h1 {
  text-shadow: none; }

.reveal p {
  margin: 10px 0;
  line-height: 1.5; }

.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-family: "Satoshi-MediumItalic";
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal ul > li {
  list-style-type: none;
  padding: 0.5em 0 0 0;
  position: relative;
}

.reveal ol > li {
  padding: 0.5em 0 0 0;
}

.reveal ul > li::before {
  content: "⊚" ;
  left: -0.8em;
  position: absolute;
}

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  font-family: "Satoshi-MediumItalic";
  margin-top: 1em;
  display: block;
  font-style: italic;
  position: relative;
  padding: 0 50px 0 50px;
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code { }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
 /* max-height: 400px;*/
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 1em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

.reveal a {
  color: #152229;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 3px;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  opacity: 0.7;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #152229;
  background: #068de9; }

.reveal section img {
  margin: 15px 0px;
  /*background: rgba(255, 255, 255, 0.12);*/
  /* border: 4px solid #152229; */
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);*/ }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #42affa;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

.reveal .controls {
  color: #152229; }

.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #152229; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.curseur-clignotant {
  font-weight: 100;
  color: #2E3D48;
  -webkit-animation: 1.5s blink step-end infinite;
  -moz-animation: 1.5s blink step-end infinite;
  -ms-animation: 1.5s blink step-end infinite;
  -o-animation: 1.5s blink step-end infinite;
  animation: 1.5s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

.abstract > blockquote {
  padding: 20px 0;
  font-size: 0.5em;
}

.biblio p {
  font-size: 0.5em;
}


p.hugo-cite-intext {
  display: inline-block;
  vertical-align: baseline; /*compensate for lower height */
  position: relative;
  font-size: .85em; /* reduce to avoid some breaks */
}
p.hugo-cite-intext 
  p.hugo-cite-citation {
    visibility: hidden;
    background-color: #ffffff;
    color: inherit;
    border: 1px solid currentColor;
    padding: 1rem;
    position: absolute;
    width: 350px;
    max-width: 100vw;
    z-index: 1;
    bottom: 140%;
    left: 0;
    margin-left: -50px;

    z-index: 2;
    transition:
      visibility 0s .3s,
      transform .3s ease 0s,
      opacity .3s ease 0s;
    opacity: 0;
    transform: translateY(-8px);
}
p.hugo-cite-intext:hover
  p.hugo-cite-citation {
    visibility: visible;
    transition: visibility 0s 0s, transform .3s, opacity .3s;
    opacity: 1;
    transform: translateY(0);
}

p.hugo-cite-bibliography {
  font-size: 0.75em;
}

p.hugo-cite-bibliography dl {
  margin-left: 0;
}

p.hugo-cite-bibliography dt {
  display: none;
}

p.hugo-cite-bibliography dd {
  margin-left: 0;
  margin-bottom: 0.5em;
}

.hash {
  display: none;
}

.imageg {
  margin-left: 1em;
}

.reveal p.details {
  margin-bottom: 0;
  margin-top: 0;
}

p.affiliation {
  font-family: "Satoshi-MediumItalic", serif;
  font-style: italic; 
}

.hash {
  display: none;
}

audio {
  width: 80%;
}

video {
  width: 100%;
}

figure {
  width: 80%;
}

figcaption {
  font-family: "Satoshi-MediumItalic", serif;
  font-style: italic;
  font-size: 0.9em;
}


figure.medium {
  width: 50%;
}

.colonne {
  float: left;
  width: 50%;
}

.principale::after {
  content: "";
  display: table;
  clear: both;
}
