<!doctype html>
<html lang="fr">
  {{ partial "head.html" . }}
<body>
<main>
    {{ partial "header.html" . }}
  <section>

      {{ if eq .Type "posts" }}
      <h2 itemprop="name headline">{{ .Title }}</h2>
      <p class="meta">
        <time itemprop="datePublished" datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time> — <a href="impression.html">Version imprimable</a>
        </p>
      {{ end }}

      <span itemprop="articleBody">
        <p>Support de présentation (<a href="presentation.html">ouvrir en grand</a>) :</p>
        <iframe src="presentation.html" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" frameborder="0"></iframe>
        <p><em>Utilisez les flèches ← et → pour naviguer entre les diapositives.</em></p>
        {{ if eq .Params.toc false }}
        {{ else }}
        <h3>Sommaire</h3>
        {{ .TableOfContents }}
        {{ end }}
        {{- partial "content.html" .Content -}}
      </span>
       

    </section>
    {{ partial "footer.html" . }}
  </main>
</body>
</html>
