<!doctype html>
<html lang="fr">
  {{ partial "head.html" . }}
<body>
  <main>
    {{ partial "header.html" . }}
    <section>
      <p>{{ .Site.Params.description_longue | markdownify }}</p>
      <p><strong>{{ .Site.Params.salle }}</strong></p>
    </section>
    <hr>
    <section>
      <h2>Séances</h2>
      <section class="posts">
        {{ range (.Paginate ( where .Site.RegularPages "Section" "posts" ).ByDate).Pages }}
          {{ if ne .Kind "section" }}
          <article itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
            <section class="posts-title">
            {{ if .Params.visible }}<a href="{{ .Permalink }}" title="{{ .Title }}" itemprop="name url">{{ .Title }}</a>{{ else }}{{ .Title }}{{ end }}
            <hr>
            <time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Params.date_p }}</time>
            </section>
            {{ with .Params.lecture }}<details class="lecture"><summary>Lecture(s) pour la séance</summary>{{ . | markdownify }}</details>{{ end }}
          </article>
          {{ end }}
        {{ end }}
      </section>
    </section>
    <!--
    <hr>
    <section>
      <h2>Glossaire</h2>
      <ul class="posts">
        {{ range (where .Site.Pages "Section" "glossaire") }}
          <li itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
            <a href="{{ .Permalink }}" title="{{ .Title }}" itemprop="name url">{{ .Title }}</a>
            <hr>
          </li>
        {{ end }}
      </ul>
    </section>
    -->
    {{ partial "footer.html" . }}
  </main>
</body>
</html>
