<!doctype html>
<html>
	<head>
        <script src="/livereload.js?mindelay=10&amp;v=2&amp;port=1313&amp;path=livereload" data-no-instant defer></script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>{{ .Title }} – {{.Site.Title}}</title>

		<link rel="stylesheet" href="{{ "css/reset.css" | absURL }}">
		<link rel="stylesheet" href="{{ "css/reveal.css" | absURL }}">
		<link rel="stylesheet" href="{{ "css/theme/regular.css" | absURL }}">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '/css/print/pdf.css' : '/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
			<section>
				{{ if .Params.illustration }}
				<h1 class="title">{{.Title}}</h1>
				<div class="principale">
					<div class="colonne">
						<h3 class="title">{{.Params.description}}</h3>
						<p>{{.Site.Author.name}} — {{.Site.Author.courriel}}</p>
					</div>
					<div class="colonne">
						<img src="/images/{{ .Params.illustration }}">
					</div>
				</div>
				{{ else }}
				<h1>{{ .Site.Title }}</h1>
				<h2 class="title">{{.Title}}</h2>
				<h3 class="title">{{.Params.description}}</h3>
				<div class="details">
				<p>{{.Site.Author.name}} — {{.Site.Author.courriel}}</p>
				</div>
				{{ end }}
			</section>
			{{- partial "content.html" .Content -}}
			</div>
		</div>

		<script src="{{ "js/reveal.js" | absURL }}"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				history: true,
				center: false,
				dependencies: [
					{ src: '{{ "plugin/markdown/marked.js" | absURL }}' },
					{ src: '{{ "plugin/markdown/markdown.js" | absURL }}' },
					{ src: '{{ "plugin/notes/notes.js" | absURL }}', async: true }
				]
			});
		</script>
	</body>
</html>
