<hr>
<footer>
	  <nav>
      
  <ul>
    <li>
      {{ .Site.Params.copyright }} {{ .Site.Author.name }} {{ dateFormat "2006" now }}
    </li>
    <li><a href="{{ .Site.Params.depot }}"ma>Sources</a></li>
  
  </ul>
    </nav>
</footer>
