<section class="glossaire">
    {{$file := .Get 0}}
    {{ with .Site.GetPage "/glossaire" $file }}
    <h3>{{ .Title }}</h3>
    {{ .Content | markdownify }}
    <p><a href="{{ .Permalink }}">Lien vers le terme</a></p>
    {{ end }}
</section>